* {
    margin: 0%;
    font-family: Arial ;
    border: border-box;
}


.up-nav{
    /* width: 100px; */
    height: 30px;
    /* position: fixed; /* Set the navbar to fixed position */
    /* top: 0; Position the navbar at the top of the page */ 
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
   
}

.info{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.info2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.navbar{
    /* width: 100px; */
    height: 60px;
    /* position: fixed; Set the navbar to fixed position */
    /* top: 0; Position the navbar at the top of the page */
    background-color: rgb(1, 4, 8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 55px;
    width: 60px;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.campus{
    color: aliceblue;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.col-md-12{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container2{
    background-image: url('bannerimg.png');
    background-size: cover;
    height: 500px;
    width: 100%;
}

.estd{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel4 {
    display: flex;
    justify-content: center;
    background-color: #0f1111;
    color: white;
    height: 30px;
}

.img2{
    display: flex;
    justify-content: space-evenly;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }


.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.logo45{
    background-image: url('nba-aicte-naac-logo-1\ 1.png');
    background-size: cover;
    height: 200px;
    width: 200px;
}

/* aboutus */

.text-blk2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .responsive-container-block2 {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block2.bigContainer {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(51, 51, 51);
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  
  .responsive-container-block2.Container {
    max-width: 1320px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .responsive-container-block2.leftSide {
    width: auto;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 300px;
  }
  
  .text-blk2.heading {
    font-size: 40px;
    line-height: 64px;
    font-weight: 900;
    color: #00B2EB;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .text-blk2.btn {
    color: rgb(0, 178, 235);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .responsive-container-block2.rightSide {
    width: 675px;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    height: 700px;
    min-height: auto;
  }
  
  .number12img {
    margin-top: 39%;
    margin-right: 80%;
    margin-bottom: 29%;
    margin-left: 0px;
    height: 32%;
    width: 20%;
    position: absolute;
  }
  
  .number22img {
    margin-top: 19%;
    margin-right: 42%;
    margin-bottom: 42%;
    margin-left: 23%;
    width: 35%;
    height: 39%;
    position: absolute;
  }
  
  .number32img {
    width: 13%;
    height: 21%;
    position: absolute;
    margin-top: 62%;
    margin-right: 64%;
    margin-bottom: 30%;
    margin-left: 23%;
  }
  
  .number42vid {
    width: 34%;
    height: 33%;
    position: absolute;
    margin-top: 62%;
    margin-right: 27%;
    margin-bottom: 0px;
    margin-left: 39%;
  }
  
  .number52img {
    position: absolute;
    width: 13%;
    height: 21%;
    margin-top: 38%;
    margin-right: 27%;
    margin-bottom: 41%;
    margin-left: 60%;
  }
  
  .number62img {
    position: absolute;
    margin-top: 0px;
    margin-right: 3%;
    margin-bottom: 67%;
    margin-left: 62%;
    width: 35%;
    height: 33%;
  }
  
  .number72img {
    position: absolute;
    width: 25%;
    margin-top: 40%;
    margin-right: 0px;
    margin-bottom: 18%;
    margin-left: 75%;
    height: 42%;
  }
  
  .text-blk2.subHeading {
    font-size: 14px;
    line-height: 25px;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block2.Container {
      flex-direction: column-reverse;
    }
  
    .text-blk2.heading {
      text-align: center;
      max-width: 370px;
    }
  
    .text-blk2.subHeading {
      text-align: center;
    }
  
    .responsive-container-block2.leftSide {
      align-items: center;
      max-width: 480px;
    }
  
    .responsive-container-block2.rightSide {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
    }
  
    .responsive-container-block2.rightSide {
      margin: 0 auto 70px auto;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block2.rightSide {
      width: 450px;
      height: 450px;
    }
  
    .responsive-container-block2.leftSide {
      max-width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .number12img {
      display: none;
    }
  
    .number22img {
      display: none;
    }
  
    .number32img {
      display: none;
    }
  
    .number52img {
      display: none;
    }
  
    .number62img {
      display: none;
    }
  
    .number72img {
      display: none;
    }
  
    .responsive-container-block2.rightSide {
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 100px;
      margin-left: 0px;
    }
  
    .number42vid {
      position: static;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      width: 100%;
      height: 100%;
    }
  
    .text-blk2.heading {
      font-size: 25px;
      line-height: 40px;
      max-width: 370px;
      width: auto;
    }
  
    .text-blk2.subHeading {
      font-size: 14px;
      line-height: 25px;
    }
  
    .responsive-container-block2.leftSide {
      width: 100%;
    }
  }



  /* academics */

  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb29.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    /* background-repeat-x: no-repeat;
    background-repeat-y: no-repeat; */
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }

  /* admission */

  .responsive-container-block3 {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .text-blk3 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block3.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg3 {
    color: black;
    width: 55%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk3.headingText {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(51, 51, 51);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .allText3 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 40%;
    margin: 0 0 0 0;
  }
  
  .text-blk3.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .text-blk3.description {
    font-size: 25px;
    line-height: 34px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .explore3 {
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 152, 146);
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(244, 152, 146);
    border-right-color: rgb(244, 152, 146);
    border-bottom-color: rgb(244, 152, 146);
    border-left-color: rgb(244, 152, 146);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
  }
  
  .explore3:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 235, 234);
    color: rgb(244, 152, 146);
  }
  
  .responsive-container-block3.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block3.Container.bottomContainer {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    flex-direction: row-reverse;
    margin: 100px auto 50px auto;
  }
  
  .allText3.aboveText {
    margin: 0 0 0 40px;
  }
  
  .allText3.bottomText {
    margin: 0 40px 0 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block3.Container {
      max-width: 850px;
    }
  
    .mainImg3 {
      width: 55%;
      height: auto;
    }
  
    .text-blk3.description {
      font-size: 20px;
    }
  
    .allText3 {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block3.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .text-blk3.subHeadingText {
      font-size: 22px;
    }
  
    .responsive-container-block3.Container.bottomContainer {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block3.Container {
      max-width: 830px;
    }
  
    .allText3.aboveText {
      margin: 30px 0 0 40px;
    }
  
    .allText3.bottomText {
      margin: 30px 40px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .mainImg3 {
      width: 90%;
    }
  
    .allText3 {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block3.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk3.headingText {
      text-align: center;
    }
  
    .text-blk3.subHeadingText {
      text-align: center;
      font-size: 25px;
    }
  
    .text-blk3.description {
      text-align: center;
      font-size: 25px;
    }
  
    .allText3 {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText3.aboveText {
      margin: 40px 0 0 0;
    }
  
    .responsive-container-block3.Container {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block3.Container.bottomContainer {
      margin: 50px auto 50px auto;
    }
  
    .allText3.bottomText {
      margin: 40px 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block3.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg3 {
      width: 100%;
    }
  
    .responsive-container-block3.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk3.subHeadingText {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .text-blk3.description {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  }