{% extends "index.html" %}

{% block title %}about us{% endblock title %}

{% block body %}
<div class="responsive-container-block2 bigContainer">
    <div class="responsive-container-block2 Container">
      <div class="responsive-container-block2 leftSide">
        <p class="text-blk2 heading">
          Our Vision and Mission
        </p>
        <p class="text-blk2 subHeading">
            To become a world class educational institute in service of transformation of the society through promoting high quality engineering education
        </p>
      </div>
      <div class="responsive-container-block2 rightSide">
        <img class="number12img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg">
        <img class="number22img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png">
        <img class="number32img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number52img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
        <iframe allowfullscreen="allowfullscreen" class="number42vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">
        </iframe>
        <img class="number72img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number62img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
      </div>
    </div>
  </div>
{% endblock body %}