{% extends "index.html" %}

{% block title %}academis{% endblock title %}

{% block body %}
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        Academics
      </p>
      <p class="text-blk subHeading">
        To achieve excellence in teaching, research and innovations.

      M2: To inculcate innovative mindset and entrepreneurial activities, leadership development among the learning community.

      M3: Nurture young individuals into knowledgeable, skillful and ethical professionals to make them highly employable and for the benefit of the society at large.

      M4: Nurture the faculty to expose them to the world-class infrastructure.
      </p>
      <div class="social-icons-container">
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
        </a>
      </div>
    </div>
  </div>
{% endblock body %}