{% extends "index.html" %}

{% block title %}campus{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 150px;">
        <h3 class="animate-charcter" style="text-align: center;">College Campus</h3>
      </div>
    </div>
  </div>

  <br>
  <br>
  
  <div>
      <div class="img2">
      <img src="static/WhatsApp Image 2025-02-18 at 17.07.53_b29b54fd.jpg" width="655" height="600" style="border-radius: 25px;">
      <img src="static/WhatsApp Image 2025-02-18 at 17.07.53_ec83b08e.jpg" width="655" height="600" style="border-radius: 25px;">
      </div>
      <br>
      <div class="img2">
      <img src="static/WhatsApp Image 2025-02-18 at 17.07.54_b8fa39eb.jpg" width="655" height="600" style="border-radius: 25px;">
      <img src="static/306603974_853232855868881_6597988216958516454_n.jpg" width="655" height="600" style="border-radius: 25px;">
      </div>
      <br>
      <div class="img2">
      <img src="static/IMG_20230830_15362769.jpg" width="655" height="600" style="border-radius: 25px;">
      <img src="static/IMG-20240207-WA0018.jpg" width="655" height="600" style="border-radius: 25px;"> 
      </div> 
  </div>

{% endblock body %}