{% extends "index.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container2">
    
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter" style="text-align: center;">Bankura Unnayani Institute of Engineering</h3>
      </div>
    </div>
  </div>
<br>
<div class="estd">
    <p style="text-align: center; color:#F000CC">Govt. Supported Degree Engineering College | established in 1998 | An AICTE Approved :: MAKAUT Affiliated | ISO 9001 : 2008 Certified and TEQIP-II Projecys Institute</p>
</div>
<div class="headline" style="padding-top: 50px; padding-right: 30px; padding-left: 30px; color:black; text-shadow: 2px 2px 4px #000000;">
    <h1><i>dream high with</i> <b style="color:blue">BUIE</b></h1>
    <br>
            <p>Bankura Unnayani Institute of Engineering, established in 1998, is a Government supported Engineering College in the district of Bankura. Late Jyoti Basu, the then honorable Chief Minister, Government of West Bengal inaugurated this degree Engineering Institute on 19th September, 1998. It is the proud recipient of the most valuable accolade in the form of Technical Education Quality Improvement Program (TEQIP – Phase II), a MHRD approved World Bank project.</p>
            <p>BUIE is a premiere technical institute known for its academic excellence and value added education. Inspired by the noble cause of education and philanthropic zeal, a group of dedicated harmonious personalities established this charitable, non-profit making technical institute to attain the zenith of quality in the making of Engineers for the service of the nation.</p>
            <p>BUIE celebrates 25 years of very successful and rewarding existence in providing quality education in technical disciplines. The objective is to induce discipline, competency and character among Technocrats and ultimately create a new generation of Technologists to pull the chariot of civilization further uphill. </p>
</div>

<br>
<br>
<br>
<br>

<div class="container" style="height: 40px; width: 100%; display: flex; justify-content: space-evenly;">
    <h2 class="title">
      <span class="title-word title-word-1">College</span>
      <span class="title-word title-word-2">Overview</span>
    </h2>
</div>

<br>
<br>

<div>
    <div class="img2">
    <img src="static/IMG_20230831_125736.jpg" width="655" height="600" style="border-radius: 25px;">
    <img src="static/IMG-20230927-WA0005.jpg" width="655" height="600" style="border-radius: 25px;">
    </div>
    <br>
    <div class="img2">
    <img src="static/IMG20230812111438.jpg" width="655" height="600" style="border-radius: 25px;">
    <img src="static/IMG20230812112036.jpg" width="655" height="600" style="border-radius: 25px;">
    </div>
    <br>
    <div class="img2">
    <img src="static/IMG20230829113116.jpg" width="655" height="600" style="border-radius: 25px;">
    <img src="static/IMG20231003111222.jpg" width="655" height="600" style="border-radius: 25px;"> 
    </div> 
</div>


<br>
<br>
<br>

<div class="foot-panel1">
    <a href="/" style="text-decoration:none; color : white"><b>Back to Top</b><a>
</div>

<div class="foot-panel2">
    <ul>
        <p>Get to Know Us</p>
        <a>About BUIE</a>
        <a>Careers</a>
        <a>Streams</a>
        <a>BUIE Portal</a>
    </ul>
    <ul>
        <p>Connect with Us</p>
        <a>Facebook</a>
        <a>Twitter</a>
        <a>Instagram</a>
    </ul>
    <ul>
        <p>Make Career with Us</p>
        <a>Admission in BUIE</a>
        <a>Protect and Build Your Future</a>
        <a>BUIE guidelines</a>
        <a>Become an Affiliate</a>
    </ul>
    <ul>
        <p>Let Us Help You</p>
        <a>Your Account</a>
        <a>Returns Centre</a>
        <a>your WBJEE rankcard</a>
        <a>BUIE App Download</a>
    </ul>
</div>
<div class="foot-panel3">
    <div class="logo45">

    </div>
</div>


{% endblock body %}