{% extends "index.html" %}

{% block title %}hostel{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 150px;">
        <h3 class="animate-charcter" style="text-align: center;">College Hostel</h3>
      </div>
    </div>
  </div>

  <br>
  <br>
  
  <div>
      <div class="img2">
      <img src="static/1527246937-1.jpg" width="655" height="500" style="border-radius: 25px;">
      <img src="static/1527246937-2.jpg" width="655" height="500" style="border-radius: 25px;">
      </div>
      <br>
      <div class="img2">
      <img src="static/1528953841-1.jpg" width="655" height="500" style="border-radius: 25px;">
      <img src="static/306603974_853232855868881_6597988216958516454_n.jpg" width="655" height="500" style="border-radius: 25px;">
      </div>
      <br>
      <div class="img2">
      <img src="static/1528953841-4.jpg" width="655" height="500" style="border-radius: 25px;">
      <img src="static/1528953841-5.jpg" width="655" height="500" style="border-radius: 25px;"> 
      </div> 
  </div>
{% endblock body %}